<!DOCTYPE html>
<html lang="en" ng-app="listaTelefonica">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Diretivas</title>
  <script src="assets/vendor/angular.min.js"></script>
  <script src="assets/vendor/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap-4/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="assets/vendor/bootstrap-4/css/bootstrap.min.css">

  <style>
    .title {
      width: 400px;
      margin-top: 20px;
    }

    .square {
      height: 15px;
      width: 15px;
    }
  </style>
  
  <script>
    angular.module("listaTelefonica", []);
    angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
      $scope.title = 'Lista Telefônica';
      $scope.contacts = [
        {name: 'Hemerson', phone: '999998888', color: 'cyan'},
        {name: 'Izabela', phone: '999998877', color: 'purple'},
        {name: 'Grazielle', phone: '999998866', color: 'red'},
      ];

      $scope.phone_companies = [
        {name: 'Oi', code: '14', category: 'cell-phone'},
        {name: 'Vivo', code: '15', category: 'cell-phone'},
        {name: 'Tim', code: '41', category: 'cell-phone'},
        {name: 'GVT', code: '25', category: 'phone'},
        {name: 'Embratel', code: '21', category: 'phone'}
      ];

      $scope.addContact = (contact) => {
        $scope.contacts.push(angular.copy(contact));
        delete $scope.contact;
      }

      $scope.deleteContacts = (contacts) => {
        $scope.contacts = contacts.filter(contact => !contact.selected);
      }

      $scope.isContactSelected = (contacts) => {
        return contacts.some(contact => contact.selected);
      }
    });

  </script>
</head>
<body ng-controller="listaTelefonicaCtrl">
  <div class="container">
      <div class="row jumbotron mt-5">
        <div class="col-12 d-flex justify-content-center">
          <h3 class="text-center mb-5 title display-4">{{title}}</h3>
        </div>

        <table class="table table-striped table-hover table-light">
          <tr ng-hide="contacts.length === 0">
            <th></th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Operadora</th>
            <th></th>
          </tr>
          <tr ng-class="{'bg-info text-white': contact.selected}" ng-repeat="contact in contacts">
            <td><input type="checkbox" ng-model="contact.selected"></td>
            <td>{{contact.name}}</td>
            <td>{{contact.phone}}</td>
            <td>{{contact.company.name}}</td>
            <td>
              <div class="square" ng-style="{'background-color': contact.color}"></div>
            </td>
          </tr>
        </table>
        <hr>

        <form class="form w-100 mb-0 mt-5">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="contact.name" placeholder="Nome">
          </div>
  
          <div class="form-group">
            <input type="text" class="form-control" ng-model="contact.phone" placeholder="Telefone">
          </div>

          <select name="" id="phoneCompanies" class="form-control" ng-model="contact.company"
            ng-options="company.name group by company.category for company in phone_companies"
          >
            <option value="">Selecione uma operadora</option>
          </select>
          
          <div class="form-group text-center mt-5 mb-0">
            <button class="btn btn-info btn-block" ng-click="addContact(contact)" ng-disabled="!contact.name || !contact.phone">
              Adicionar contato
            </button>

            <button class="btn btn-danger btn-block" ng-click="deleteContacts(contacts)" ng-show="isContactSelected(contacts)">
              Apagar selecionados
            </button>
          </div>
        </form>

      </div>
    </div>
    <div ng-include="'footer.html'"></div>
</body>
</html>

<!-- 
  ngDisable => desabilita dinamicamente um item
  
  ngOptions => Renderiza as opções de um select 
      ==> valorEnviado as valorLabel for order by tempVar.value tempVar in ScopoArray

  ngClass e ngStyle => Aplica classes e estilos dinamicamente

  ngShow, ngHide e ngIf => exibe elementos de forma condicional
      ==> Principal diferença > O show/hide apenas muda a visibilidade, o if insere ou remove o elemento do DOM
 -->
