:root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: black;
  color: white;
  min-height: 100vh;
  min-width: 100vw;
}

.container .counter {
  font-size: 2rem;
  margin-bottom: 32px;
}

.container .buttons {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.container .buttons button {
  width: 2.625rem;
  height: 2.625rem;
  cursor: pointer;

  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

input {
  display: flex;
  width: 18.75rem;
  height: 2.625rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.mb-1 {
  margin-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}
